@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --bg: #EFE3CA;
  --surface: #ffffff;
  --navy: #170C79;
  --periwinkle: #56B6C6;
  --muted: #8ACBD0;
  --border: #8ACBD0;
}

body {
  background-color: #EFE3CA;
  color: #170C79;
}
