@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --bg: #EDE8F5;
  --surface: #ffffff;
  --navy: #3D52A0;
  --periwinkle: #7091E6;
  --muted: #8697C4;
  --border: #ADBBDA;
}

body {
  background-color: #EDE8F5;
  color: #3D52A0;
}
